<!DOCTYPE html>
<html>
<head>
    <title>Listigaste Löprundor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Leaflet CSS file -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <!-- Leaflet CSS file locate -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
    <!-- CSS file for this project -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Input fields -->
    <div id="inputfields">
        <label>Desired route length (m): </label>
        <input type="number" id="lengthInput" value="1000">
        <label>Elevation: </label>
        <select name="elevation" id="elevation">
            <option value="nopref">No preference</option>
            <option value="hilly">Hilly</option>
            <option value="flat">Flat</option>
        </select>
        <label>Surface: </label>
        <select name="surface" id="surface">
            <option value="nopref">No preference</option>
            <option value="road">Road</option>
            <option value="trail">Trail</option>
        </select>
        <label>Nature: </label>
        <select name="nature" id="nature">
            <option value="nopref">No preference</option>
            <option value="yes">Yes</option>
        </select>
        <label>Lighting: </label>
        <select name="lighting" id="lighting">
            <option value="nopref">No preference</option>
            <option value="yes">Yes</option>
        </select>
        <label>POI: </label>
        <select name="poi" id="poi">
            <option value="nopref">No preference</option>
            <option value="tourism">Tourism</option>
            <option value="viewpoint">Viewpoint</option>
        </select>
        <button id="generateBtn">Generate route</button>
    </div>

    <!-- The map -->
    <div id="map"></div>
    <div id="stats">
        <p id="length" style="display: none;"></p>
        <p id="elevationStat" style="display: none;"></p>
    </div>
    <div id="elevationChart">
        <canvas id="elevationChartCanvas"></canvas>
    </div>
    <!-- Loading-symbol -->
    <div id="loading">
        <div class="spinner"></div>
    </div>
    <!-- For Leaflet map -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- For Leaflet location -->
    <script src="https://unpkg.com/leaflet.locatecontrol/dist/L.Control.Locate.min.js"></script>

    <!-- For Chart -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>